<div class="container-fluid page__heading-container">
  <div class="page__heading d-flex align-items-center">
    <div class="flex">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
        </ol>
      </nav>
      <h1 class="m-0">My Access <span class="text-primary">360&#176;</span> View </h1>
    </div>
  </div>
</div>

<div class="container-fluid page__container">

  <div class="card">
  <div class="card-body">
    <h4>Server Access</h4>
    <p>All the server Access I have</p>
<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
      <th scope="col">Handle</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <td>@fat</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
      <td>@twitter</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
    </div>

    </div>
  </div>

  <div class="card">
  <div class="card-body">
    <h4>Application Access</h4>
    <p>All the server Access I have</p>

    </div>
  </div>

  <div class="card">
    <div class="card-body">
    
    <hr>
    <ul>
      <li>Extended/Customized Vector Maps</li>
      </ul>
      <hr>
      <div class="text-center">
        <!-- <a class="btn btn-secondary btn-lg mr-2" href="" target="_blank"> Action </a> -->
      </div>
  </div>
</div>
</div>
